body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

/* {
    "name": "",
        "location": "",
        "image_url": "",
        "rating": ,
        "price": ,
        "about": "",
        "telephone": ,
        
        "country": ""
    
} */

.navbar {
  text-align: center;
}

.all-hotels img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.all-hotels {
  display: grid;
  float: left;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 10px;
  border: 1px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.one-hotel {
  margin: 150px;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 10px;
  border: 1px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.loading {
  margin-top: 150px;
}

.one-hotel img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: left;
  border-radius: 10px;
}

.one-hotel-text {
  float: right;
  margin-left: 15px;
}

.loginForm {
  margin-top: 250px;
  display: flex;
  justify-content: center;
}

.signUp {
  margin-top: 250px;
  display: flex;
  justify-content: center;
}

.signUpErrors {
  display: flex;
  justify-content: center;
}

.loginGreeting {
  float: right;
}

.signUpOrLogin {
  display: flex;
  justify-content: center;
}

.styles {
  margin-top: 250px;
  display: flex;
  justify-content: center;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  padding-bottom: 20px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4b9cd3;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.navButtons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.username {
  color: white;
}

.login-register {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-register button {
  border: none;
  cursor: pointer;
  background-color: #4b9cd3;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.my-account-details {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.edituserform {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.createBooking {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.myaccountbookings {
  display: grid;
  float: left;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 10px;
  border: 1px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
